MATCH_SERVER_TOKEN=ariakexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MATCH_SERVER_URL=http://192.168.1.100:8080
MATCH_TIME=300

MANAGER_SERVER_URL=http://192.168.1.200:8080
MANAGER_CLIENT_ID_1=hinata
MANAGER_CLIENT_ID_2=daiki
MANAGER_CLIENT_ID_3=keita
MANAGER_CLIENT_ID_SPARE=ariake

SELF_ID=keita
