/image_to_problem/data/*
!/image_to_problem/data/.gitkeep

/image_to_problem/image/*
!/image_to_problem/image/.gitkeep


/manager/image_data/*
!/manager/image_data/.gitkeep

/manager/log_data/*
!/manager/log_data/.gitkeep

/manager/problem_data/*
!/manager/problem_data/.gitkeep


__pycache__/
.vscode/
*.o